:root {
  --index: calc(1vw + 1vh);
  --gutter: 0px;
  --side-small: 26;
  --side-big: 36;
  --depth: 4000px;
  --transition: .75s cubic-bezier(0.56, 0.16, 0, 1.000) ;
}

body {
  background-color: rgba(34, 34, 34, 0.953);
  color: rgb(243, 243, 243);
  font-size: calc(var(--index) * 3);
  font-family: "Synonym", sans-serif;
  line-height: 1.75;
  height: var(--depth);
  font-weight: 300;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 100%;
  position: fixed;
  -webkit-perspective: 1500px;
          perspective: 1500px;
}
.container .gallery {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  height: 100%;
  padding: 4vw;
}
.container .gallery .frame {
  width: 100%;
  height: 70vh;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: var(--transition), opacity 0.75s ease;
  transition: var(--transition), opacity 0.75s ease;
  will-change: transform;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}
.container .gallery .header-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 2vmax;
}
.container .gallery .top-title {
  font-size: 4vmax;
  line-height: 4rem;
  text-align: center;
  color: rgb(243, 183, 54);
}

.text-wr {
  font-family: "Synonym", sans-serif;
  text-transform: uppercase;
  font-weight: 200;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
}

.text-wt {
  text-align: center;
  font-size: calc(var(--index) * 3);
}

.frame-media_second {
  border-radius: 1rem;
}

.frame-media {
  position: relative;
  width: calc(var(--index) * var(--side-small));
  height: calc(var(--index) * var(--side-big));
  background-position: center;
  background-size: cover;
}

.frame-media__left {
  right: calc(var(--side-small) / 3 * var(--index) + var(--gutter));
  background-image: url(../img/urban.jpg);
}

.frame-media__right {
  left: calc(var(--side-small) / 2 * var(--index) + var(--gutter));
  opacity: 0;
}

.frame_bg {
  background-color: rgba(46, 46, 46, 0.953);
}

.arrow-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.indicator {
  width: 20px;
  height: 20px;
  margin-bottom: 70px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.indicator span {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  border-bottom: 3px solid #fff;
  border-right: 3px solid #fff;
  -webkit-animation: animate 1s linear infinite;
          animation: animate 1s linear infinite;
}
.indicator span:nth-child(1) {
  top: -30px;
  left: -30px;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}
.indicator span:nth-child(2) {
  top: -15px;
  left: -15px;
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}
.indicator span:nth-child(3) {
  top: 0;
  left: 0;
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}
.indicator span:nth-child(4) {
  top: 15px;
  left: 15px;
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}
.indicator span:nth-child(5) {
  top: 30px;
  left: 30px;
  -webkit-animation-delay: 1.6s;
          animation-delay: 1.6s;
}

@-webkit-keyframes animate {
  0% {
    border-color: #fff;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  20% {
    border-color: #fff;
    -webkit-transform: translate(15px, 15px);
            transform: translate(15px, 15px);
  }
  20.1%, 100% {
    border-color: #ffd64a;
  }
}

@keyframes animate {
  0% {
    border-color: #fff;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  20% {
    border-color: #fff;
    -webkit-transform: translate(15px, 15px);
            transform: translate(15px, 15px);
  }
  20.1%, 100% {
    border-color: #ffd64a;
  }
}